// Every page should have a class on the body
// Scope that in each file at the start
._category {
 ul[data-ur-carousel-component="scroll_container"] > * {
    display: inline-block;
    float: left;
  }
  
 #Container {
 	#Outer {
 		#Wrapper {
 			.Content {
 				.CategoryContent {
 					ul.ProductList {
 						margin:10px 0;
 						padding: 0;
 						li{ 
 							margin:10px 0;
 							padding: 2%;
 							border-top:dotted 1px $color1;
 							float: left;
 							width: 96%;
	 						.ProductActionAdd a{
	 							@include shadow();
	 							@include grad-bg();
	 							padding: 5px;
	 							color: $color4 !important;
	 							text-decoration: none;
	 							float: right;
	 							font-weight: bold;
	 						}
 						}
 						
 					}
 				}
 				.Block.Moveable.Panel {
 					width: 90%;
 					padding: 2%;
 					margin:1% 2%;
 					h3{ color:$color1; margin: 2px 0;}
 					li { list-style: none;
 						a { color:$color1;}
 					}
 				}
 				.Block {
 					h2 {
 						text-align: center;
 					}
 					.add-top {
 						width: 100%;
 						float: left;
 						margin-top: 10px;
 					}
 					.BlockContent {
 						.CategoryDescription {
 							background-color: $color3;
 							color: $color4;
							padding: 5px;
							text-decoration: none;
							font-weight: bold;
 						}
 						.SubCategoryList {
 							ul {
 								margin:0 0 10px 0;
 								padding:0;
 								li {
 									background-color: $color1;
 									border-bottom:solid 1px $color4;
 									a {
 										color: $color4;
 										padding: 5px;
 										text-decoration: none;
 										font-weight: bold;
 									}
 								}
 							}
 						}
 						.ProductMain {
 							margin:4% 2%;
 							padding:2%;
 							border-radius: 10px;
 							background-color: #efefef;
 							border:solid 1px #ccc;
 							float: left;
 							width:90%;
 							margin-bottom: 20px;
 							.ProductDetailsGrid {
 								.DetailRow {
 									.Label { width:35%; float: left;}
 									.Value {width:60%; float: right;}
 									.AddCartButton {
 										.BulkDiscount{
 										
 										
 										}
 									}
 								}
 							}

 						}
 						ul {
 							li {
 								
 								div {
 									float: left;
 									width: 90%;
 									padding: 0 5%;

 									}

 								.ProductDetails {
 									height: auto !important;
 									 a {
										color: $color1;
										text-decoration: none;
										line-height: 1em;
										height: 30px;
										overflow: hidden;
										float: left
										}
 								}
 								.ProductActionAdd {
 									a {
 										@include btn();
 									}
 								}
 							}
 						}
 					}
 				}
 			}
 		}
 	}
 }

}
@mixin btn(){
    background-color: $color1;
	color: $color4;
	text-decoration: none;
	font-weight: bold;
	padding: 4px 8px;
	border-radius: 5px;
 	text-shadow: 1px 1px 1px rgba(0,0,0,.7);
 	box-shadow: 1px 1px 1px rgba(0,0,0,.7);
}