// Every page should have a class on the body
// Scope that in each file at the start
._product {
 ul[data-ur-carousel-component="scroll_container"] > * {
    display: inline-block;
    float: left;
  }
  .modalContainer {
  	position: fixed !important;
  	z-index: 3100 !important;
  	width: 86% !important;
  	margin-left: 0px !important;
  	top: 0px !important;
  	background-color: #efefef !important;
  	margin: 5% !important;
  	padding: 2% !important;
  	border-radius: 10px !important;
  	border:solid 1px #ccc;
  	img {
  		border:solid 1px #ccc;
  	}
  	h2{
  		font-size: 1em;
  	}
  	a {
  		color:$color1;
  	}
  	.fastCartBottom {
  		display: none;
  	}
  	.modalClose {
  		background-color: $color1;
  		color: $color4;
  		padding: 5px;
  		font-weight: bold;
  		float: right;
  		text-align: center;
  		border-radius: 4px;
  	}
  }
 #Container {
 	#Outer {
 		#Wrapper {
 			.Content {
 				.Block.Moveable.Panel {
 					width: 90%;
 					padding: 2%;
 					margin:1% 2%;
 					h3{ color:$color1; margin: 2px 0;}
 					li { list-style: none;
 						a { color:$color1;}
 					}
 				}
 				.Block {
 					h2 {
 						text-align: center;
 					}
 					.add-top {
 						width: 100%;
 						float: left;
 						margin-top: 10px;
 					}
 					.BlockContent {
 						.ProductMain {
 							margin:4% 2%;
 							padding:2%;
 							border-radius: 10px;
 							background-color: #efefef;
 							border:solid 1px #ccc;
 							float: left;
 							width:90%;
 							margin-bottom: 20px;
 							.ProductDetailsGrid {
 								.DetailRow {
 									.Label { width:35%; float: left;}
 									.Value {width:60%; float: right;}
 									.AddCartButton {
 										.BulkDiscount{
 										
 										
 										}
 									}
 								}
 							}

 						}
 						ul {
 							li {
 								div.QuickViewBtn {
 									opacity: 0;
 								}
 								div {
 									float: left;
 									width: 90%;
 									padding: 0 5%;

 									}

 								.ProductDetails {
 									height: auto !important;
 									 a {
										color: $color1;
										text-decoration: none;
										line-height: 1em;
										height: 30px;
										overflow: hidden;
										float: left
										}
 								}
 								.ProductActionAdd {
 									a {
 										background-color: $color1;
 										color: $color4;
 										text-decoration: none;
 										font-weight: bold;
 										padding: 4px 8px;
 										border-radius: 5px;
 										text-shadow: 1px 1px 1px rgba(0,0,0,.7);
 										box-shadow: 1px 1px 1px rgba(0,0,0,.7);
 									}
 								}
 							}
 						}
 					}
 				}
 			}
 		}
 	}
 }

}