body { 
	font-family: Arial, Helvetica, sans-serif;	
	margin:0;
	padding:0;
	
	}
	div.none {
		min-height: 120px;
		float: left;
	}
header._header {
	background-color: $color1;
	 
  	div#TopMenu {
  		position: relative;
  		ul {
  			margin-top: 35px;
  			padding: 0;
  			background-color:#EBDAD1;;
  			li {
  				list-style: none;
  				list-style-position: inside;
  				width: 94%;
  				padding:0 2%;
  				display: block;
  				border-bottom: dotted 1px $color3;
  				background-color: #EBDAD1;
  				a{
  					color: #82340d;
  					text-decoration: none;
  				}
  			}
  			li.ActivePage {
  					background-color: #82340d;
  				a{
  					color: #EBDAD1;
  					font-weight: bold;
  				}
  			}
  		}
  		.bot {
			width: 60px;
			float: right;
			margin-top: -38px;
			margin-right: 11px;
			height: 34px;
			}
		.bot[data-ur-state="enabled"] {
		margin-top: -38px;
		}
    }
  a {
  	color: $color2;
  }
  #Header {
	@include grad-bg();
	border-top: 1px solid #d74401;
	padding: 0;
	width: 100%;
	min-height: 39px;
  	#Logo {
		//background-image: url('http://developer.moovweb.com/assets/tutorials/building_a_site/home_cropped.png');
		min-height: 39px;
		a {
			color: #fff;
			text-decoration: none;
			@include txt-shadow();
			font-size: .8em;
			padding: 5px 0 0 5px;
		}
		h1 {
			margin:0;
			a {
				width: 170px;
				height: 30px;
				float: left;
				}
		}
		a.bot1 {
			float: right;
			width: 39px;
			position: absolute;
			right: 11px;
			top: 0;
			text-indent: -2000px;
			height: 34px;
			}
		 a.bot2 {
			float: right;
			width: 39px;
			position: absolute;
			right: 55px;
			top: 0;
			text-indent: -2000px;
			height: 35px;
			}
		}
  .search {
  width: 98%;
  padding:1%;
  @include background(linear-gradient(top, #852201, #6a1b00));
  float: left;
  
}
  #SearchForm {
	background-position: 188px -775px;
	height: 35px;
	width: 250px;
	float: left;

    //Style for the placeholder
    label {
    	display: none
    }
  
    input[type=image]{
    	opacity: 0;
    	width: 40px;
    	height: 21px;
    }
    input[type=text]{
    	width: 180px;
    	border	: solid 1px #333;
    	height: 20px;
    	padding: 5px;
    }

  }
}

}